.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 30px;
}

.top-nav__menu-items {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #EE4938;
}

a:hover {
  color: gray;
}

.top-nav__icon {
  color: white;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  font-family: cursive;
  font-size: 40px;
}

.page-content__intro {
  display-flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: serif;
}

.page-content__main-links {
  font-size: 20px;
  margin-bottom: 30px;
}
  
 
.link {
   color: red;
}

.page-content {
    margin: 0px 155px;
}

.article-index-content {
    margin: 100px 350px 0px 350px;
}
 
.project {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: lightgray;
  width: ;
}

.project__img {
    width: 300px;
    align-items: center;  
    justify-content: flex-start;
    padding: 30px 80px 30px 0px;

}

.project__text {
    font-size: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.page-content__more-info {
  border-top: 1px solid lightgray;
  padding-top: 40px;
}

.article {
  margin-bottom: 100px;
}

.article__head {
  display: flex;
  align-items: center;
}

.article-image {
  width: 140px;
  border: 1px solid lightgray;
}

.title-info {
  padding-left: 20px;
}

.article-title {
  margin: 0;
  font-size: 40px;
  padding-bottom: 10px;
}

.article-info {
  margin: 0;
  color: gray;
  font-style: italic;
  font-size: 20px;
}

.article-link {
  color: gray;
}

.article-link:hover {
  color: red;
}

.article__description {
  font-size: 20px;
  line-height: 1.5;
}

.older-posts {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding-top:90px;
  font-size: 20px;
  color:#EE4938;
  border-top: 0.063rem solid rgba(0,0,0,0.2);
  font-weight: 700;
}

.right{
  float: right;
}

.left{
  float: left;
}

.link{
  color:#EE4938;

}

.fa-rss,
.fa-twitter{
  color:#D8D8D8;
  padding-right: 4px;
}
 
 ul .more{
  display: inline;
  width: 100%;
}
            
          
          
footer{
            position: absolute;
            left: 140;
            bottom: -100;
            border-top: 20px;
            width: 100%;
            font-size: 20px;
}