.wrapper {
  display: flex;
  width: 1000px;
  height: 490px;
}

a {
  text-decoration: none;
}

.header {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 800;
    line-height: 1;
}

.home__button {
  padding: 10px;
  width: 70px;
  height: 70px;
}

.navigation__button {
  color: #3a3a3a;
}

.navigation__button:hover {
  color: #EE4938;
}

.navigation__button--currentPage {
    color: #888888;
}

.navigation {
  margin: 1.45em 0 0;
    display: inline;
    padding-right: 20px;
    margin-right: 0.875em;
    margin-left: 2em;
    letter-spacing: 0.03em;
    word-spacing: 1.2em;
    font-size: 13px;
    float: right;
    margin-top: 1.65em
}

.main {
  font-size: 42px;
  color: #3a3a3a;
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  padding: 40px;
  font-family: "leitura-news", serif;
}

.main a {
  color: #EE4938;
}

.topLinks__item {
  color: #EE4938;
  font-size: 20px;
}


.topLinks {
  word-spacing: .05em;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  padding-bottom: 40px;

}

.project__content {
  max-width: 47em;
  margin: auto;
}

.project {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.2);
}

.project a {
  color: #EE4938;
}


/*.project {
  color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  /*padding: 20px;
  margin-left: 150px;
  margin-right: 150px;*/
  /*font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 22px;*/


.project__image {
  display: block;
  align-items: center;
  margin: 1em;
  max-width: 250px;
  max-height: 208.5px;
  width: auto;
  height: auto;
}

.project__description {
  align-items: center;
  font-family: "leitura-news", serif;
  font-size: 22px;
  line-height: 1.6;
}


.bottomLinks {
  color: #3a3a3a;
  font-family: "leitura-news", serif;
  padding-top: 60px;
  padding-bottom: 150px;
    margin-left: 140px;
    word-spacing: .05em;
    font-size: 20px;
}

.bottomLinks__item {
  color: #EE4938;
}


.article__container {
  max-width: 33em;
  margin: auto;
  margin-bottom: 5em;
  /*flex-direction: row;
  color: #3a3a3a;*/
  /*border-bottom: solid;*/
  /*border-width: 1px;
  border-color: rgb(200, 200, 200);
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 18px;
    align-items: center;
    overflow: hidden;*/
}

.article-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;

}

.article-block__image {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 95px;
  max-height: 65px;
}

.article-block__title {
  list-style: none;
  margin: 0;
}

.article-block__title a:hover {
  color: #EE4938;
}

.title {
  font-size: 43px;
}

.post-info {
  font-style: italic;
  font-size: 23px;
}

.post-info a {
  color: #888888;
}

.content {
  /*margin-left: 75px;*/
  color: #3a3a3a;
    font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 100%
}

.content a {
  color: #EE4938;
}


.bottomLink {
  font-family: "nimbus-sans", sans-serif;
  padding-top: 60px;
  padding-bottom: 150px;
    margin-left: 150px;
    word-spacing: .05em;
    font-size: 20px;
    color: #EE4938;
}


.note, .comments, .comment-form {
  margin: 100px 350px 0px 350px;
}

.note__title, .comments__count, .comment-form__title {
  font-size: 50px;
}


.note__links {
  margin: 0;
  font-style: italic;
  color: #888888;
}

.note__link {
  color: #888888;
  text-decoration: none;
}

.note p, .comments p {
  font-size: 25px;
}

.note__body-link {
  color: red;
}

.note__body-link:hover {
  color: #888888;
}

.note__link:hover {
  color: red;
}

.note__video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
}

.note iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.comments__prompt {
  margin: 15px 0;
}

.comments a {
  color: red;
}

.comments a:hover {
  color: #888888;
}

.comment-form__form {
  margin-bottom: 150px;
  font-size: 25px;
}

.comment-form__form-element-partial-width {
  width: 40%;
  padding: 5px;
}

.comment-form__form-element-entire-width {
  width: 100%;
  padding: 5px;
}

.comment-form__form-element-partial-width, 
.comment-form__form-element-entire-width, 
.comment-form__form input[type="submit"] {
  font-size: 25px;
  font-family: serif;
}

.comment-form__form input[type="submit"] {
  color: white;
  background-color: #000;
  border: none;
  padding: 15px;
  width: 120px;
}

.comment-form__form input[type="submit"]:hover {
  background-color: red;
}

.footer__link {
  display: flex;
  /*margin-left: 300px;*/
  padding-top: 20px;
  padding-bottom: 150px;
  font-family: "Arial", Gadget, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #EE4938;
  max-width: 44em;
  margin: auto;
  margin-bottom: 5em;
}

.footer__link:hover {
  color: #888888;
}

.footer {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer a {
  color: #EE4938;
}
.footer a:hover {
  color: #888888;
}

.footer__item {
  /*display: flex;*/
  /*justify-content: space-between;*/
    /*padding-top: 2em;
    margin-top: 1em;*/
    font-size: 13px;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 800;
    letter-spacing: 0.02em;
    /*margin-right: 50px;
    margin-left: 50px;*/
    /*text-decoration: none;*/
}

.footer__itemImage {
  width: 12px;
  height: 12px;

}

.footer__itemImageRight {
  margin-left: 30px;
  width: 12px;
  height: 12px;
}

